[main]
Description=Grupa dla specjalnych uzytkownikow
Host=bean.onet.pl
AuthType=1
GroupName=grupa_specjalna_ipsec
GroupPwd=
EnableISPConnect=0
ISPConnectType=0
ISPConnect=3G Connection
ISPPhonebook=C:\
ISPCommand=
Username=twoj_username
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=1
BackupServer=bean2.onet.pl
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=1
TcpTunnelingPort=19760
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
ForceKeepAlives=1
enc_GroupPwd=6F07877856AB800E710E67DA384BE6E1B4D62FBAAE20CA5BF10DD76F671CC7BE62068453F19259A8BCC9B12D1D9E07CC65A47079A48945E8
